<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info om vare</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- Product -->
  <ion-card>
    <ion-card-content>

      <ion-card-title>
        Produkt
      </ion-card-title>

      <ion-item *ngIf="!isEditingProductName()">
        <div>{{productName()}}</div>
      </ion-item>

      <ion-item *ngIf="isEditingProductName()">
        <ion-input type="text" [placeholder]="productName()" #productNameInput></ion-input>
      </ion-item>

    </ion-card-content>

    <ion-row no-padding *ngIf="!isEditingProductName()">
      <ion-col text-left width-25>
        <button ion-button clear small>
          <div>
            <ion-icon name="thumbs-up"></ion-icon>
            <br />
            <label>Korrekt</label>
          </div>
        </button>
      </ion-col>
      <ion-col text-center width-25>
        <button ion-button clear small>
          <div>
            <ion-icon name="thumbs-down"></ion-icon>
            <br />
            <label>Ikke korrekt</label>
          </div>
        </button>
      </ion-col>
      <ion-col text-right width-50 *ngIf="canEditProductName()">
        <button ion-button clear small (click)="editProductName()">
          <div>
            <ion-icon name="create"></ion-icon>
            <br />
            <label>Redigér</label>
          </div>
        </button>
      </ion-col>
    </ion-row>
    <ion-row no-padding *ngIf="isEditingProductName()">
      <ion-col text-left offset-50 width-25>
        <button ion-button clear small (click)="cancelEditingProductName()">
          Annuller
        </button>
      </ion-col>
      <ion-col text-right width-25>
        <button ion-button clear small (click)="saveProduct()">
          Gem
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <!-- Companies -->
  <ion-card>
    <ion-card-header>
      Producent
    </ion-card-header>
    <ion-card-content>

      <ion-list *ngFor="let company of product?.companies">

        <ion-item>
          <ion-label floating>{{company.name}}</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

      </ion-list>

      <button (click)="showAddCompanyPage()">Tilføj producent</button>

    </ion-card-content>
  </ion-card>

</ion-content>
