<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info om vare</ion-title>
    <ion-buttons end>
      <button (click)="editPressed()" [hidden]="editing">
        Redigér
      </button>
      <button (click)="okPressed()" [hidden]="!editing">
        OK
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- Product -->
  <ion-card>

    <ion-card-header>
      Produkt
    </ion-card-header>

    <ion-list>

      <!-- Product name -->
      <ion-item>

        <!-- Not editing name -->
        <h2 [hidden]="editing">{{productName()}}</h2>

        <!-- Editing name -->
        <ion-input type="text" *ngIf="editing" [value]="productName()" #productNameInput></ion-input>

        <!-- Voting buttons -->
        <button ion-button icon-only clear small item-right [hidden]="editing">
          <ion-icon name="thumbs-up"></ion-icon>
        </button>
        <button ion-button icon-only clear small item-right [hidden]="editing">
          <ion-icon name="thumbs-down"></ion-icon>
        </button>

      </ion-item>
    </ion-list>

  </ion-card>

  <!-- Companies -->
  <ion-card>

    <ion-card-header>
      Producent
    </ion-card-header>

    <ion-list *ngFor="let company of product?.companies">

      <!-- Company -->
      <ion-item>

        <!-- Company name -->
        <h2>{{company.name}}</h2>

        <!-- Voting buttons -->
        <button ion-button icon-only clear small item-right [hidden]="editing">
          <ion-icon name="thumbs-up"></ion-icon>
        </button>
        <button ion-button icon-only clear small item-right [hidden]="editing">
          <ion-icon name="thumbs-down"></ion-icon>
        </button>

        <!-- Delete button -->
        <button ion-button icon-only item-right clear (click)="removeCompany(company)" [hidden]="!editing || !canEditCompany(company)">
          <ion-icon name="remove-circle"></ion-icon>
        </button>
      </ion-item>

    </ion-list>

    <!-- Add company -->
    <ion-item [hidden]="!editing || !canAddCompany()">
      <button ion-button clear (click)="showAddCompanyPage()">
        Tilføj producent
      </button>
    </ion-item>

  </ion-card>

</ion-content>
