<ion-header>

  <ion-navbar>
    <button ion-button clear (click)='close(false);'>
      <ion-icon name="close"></ion-icon>
    </button>
    <ion-title>SMS verifikation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label floating>Mobil-nummer</ion-label>
      <ion-input type="text" [disabled]="smsVerification != null" #mobileNumberInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>SMS kode</ion-label>
      <ion-input type="text" [disabled]="smsVerification == null" #smsCodeInput></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button block *ngIf="smsVerification == null" (click)='requestSmsVerification();' #sendSmsButton>Send SMS</button>
    <button block *ngIf="smsVerification != null" (click)='verifySmsVerification();' #verifySmsButton>Verificér</button>
  </div>

</ion-content>
